/* Custom styles for swiper buttons within AdSlider */
.swiper-button-custom::after {
  font-size: 16px;
}

.swiper-button-custom {
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}
