@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --primary: #2e37a4;
    --secondary: #2e82fd;
    --background: #ffffff;
    --accent: #a5d7e8;
    --textBlack: #3d4461;
    --textDarkBlack: #272b41;
    --textGray: #757575;
    --grey: #f0f0f0;
    --DashboardBackground: #edf0ff;
  }
  .dark {
    --primary: #faf9f6;
    --secondary: #5494f4;
    --background: #192734;
    --accent: #a5d7e8;
    --textBlack: #bfcafa;
    --textDarkBlack: #cfd0d5;
    --textGray: #a2a1a1;
    --grey: #b7b4b4;
    --DashboardBackground: #192734;
  }

  .title {
    @apply text-base font-semibold text-textDarkBlack md:text-xl lg:text-[22px] 2xl:text-2xl;
  }
  .subTitle {
    @apply text-sm font-medium text-textDarkBlack lg:text-base 2xl:text-lg;
  }
  .text {
    @apply text-xs text-textBlack md:text-sm 2xl:text-base;
  }
  .myBorder {
    @apply border rounded border-grey;
  }
  .myInput {
    @apply border border-grey text-textBlack placeholder-shown:border-grey placeholder-shown:border-t-grey disabled:bg-gray-50  h-full w-full rounded-md shadow-sm border-t-transparent bg-transparent px-3 py-2.5  text-sm lg:text-base font-normal outline outline-0 transition-all placeholder-shown:border focus:border-2 focus:border-secondary focus:border-t-transparent focus:outline-0 disabled:border-0;
  }
  .myLabel {
    @apply flex h-full w-full pointer-events-none absolute -top-1.5 left-0  select-none text-xs  text-primary font-medium leading-tight transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-xs peer-focus:leading-tight peer-focus:text-secondary peer-focus:before:border-l-2 peer-focus:before:border-t-2 peer-focus:before:border-secondary peer-focus:after:border-r-2 peer-focus:after:border-t-2 peer-focus:after:border-secondary before:pointer-events-none before:mr-1 before:mt-[6.5px] before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-l before:border-t before:transition-all  peer-disabled:peer-placeholder-shown:text-primary   after:pointer-events-none after:ml-1 after:mt-[6.5px] after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-r after:border-t after:transition-all;
  }

  .myBtn {
    @apply cursor-pointer select-none rounded border border-primary bg-primary px-4 py-1 text-center text-sm font-medium text-white hover:shadow-md 2xl:border-2 2xl:py-1.5 2xl:text-base;
  }
}

body {
  font-family: "Poppins", sans-serif;
}
.active {
  @apply font-bold text-secondary;
}
.nav-link:hover::before {
  width: 100%;
}
.nav-link::before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  background: #2686e0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dashboard-bg {
  background: linear-gradient(
      0deg,
      rgba(51, 53, 72, 0.05),
      rgba(51, 53, 72, 0.05)
    ),
    #ffffff;
}
.myShadow {
  box-shadow: 0px 0px 14px rgba(204, 204, 204, 0.25);
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 3px gainsboro;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2686e0;
  border-radius: 3px;
}

/* //responsive for phone */
@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 1px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }
}
/* bouncing style */
.bounce-up {
  position: relative;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

body.dark {
  background-color: #0c192b;
}

.loading-dot {
  width: 14px;
  height: 14px;
  margin: 0 6px;
  background-color: #0e82fd;
  border-radius: 50%;
  animation: bounce 2s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(15px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* for card button  */

.bttn {
  border-radius: 35px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #0e82fd;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.common-btn {
  background-color: #0e82fd;
  color: #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
}
.common-btn:hover {
  box-shadow: inset 0 0 0 50px #ffffff;
  border: 2px solid #0e82fd;
  color: #0e82fd;
}
.bttn:hover {
  border-color: #ffffff;
  border: 2px solid #0e82fd;
}

.branches-card {
  transition: transform 0.3s ease;
}

.branches-card:hover {
  transform: scale(1.1);
}
